/* Reset Default Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Default 20pixels to 1ine-height */
html {
    font: 20px/1 sans-serif;
}

ul {
    list-style: none;
}

main {
    grid-area: "Main";
    align-content: center;
}

section h2 {
    text-align: center;
}

.main-header {
    background-color: none;
    padding: 1rem 2rem;
    grid-area: "Header"
}

.main-header__img {
    width: 90%;
    border-radius: 60%;
    overflow: hidden;
}

.main-header__title {
    color: black;
    text-align: center;
}
.main-header__subtitle {
    color: rgba(0, 0, 0, .7);
    font-style: italic;
    text-align: center;
}

.navigator {
    grid-area: "Menu";
    /* background-color: indigo;
    border: 2px 2px whitesmoke; */
}

.navigator-list {
    padding: 2px;

}

.navigator-list__item {
    
    background-color: rgba(27, 13, 150, 0.596);
    color: whitesmoke;
    padding-top: .5em;
    padding-bottom: .5em;
}

/*  wrapper Class div styling
     > rem - relative 'em' units;
     > 30rem = 30*20=600px max width (font: 20px);
     > margin: 0 top/bottom auto width;
     > width: 90% of width of viewport;   
*/
.wrapper {
    display: grid;
    grid-template-areas: "Header Header Header"
                         "Menu Main ."
                         "Footer Footer Footer";
    min-height: 100vh;
    grid-template-columns: 
    /* grid-template-columns: 20% 50% 20%;
    grid-template-rows: 3em 200px 200px;
    margin: 2rem auto;
    width: 1000px; */
    /* gap: 10px 5px; */
    /* width: 0 auto; */
    /* max-width: 30rem; */
}

