
.about__content-wrapper {
    margin-top: .5rem;
}

.about-header {
    text-align: center;
    cursor: pointer;
    padding: .5rem 10px;
    margin: 1px .5rem;
    border: 3px outset rgba(1, 105, 1, 0.698);
    /* background-color: rgba(179, 180, 255, 0.5); */
    background-color: rgb(20, 144, 20);
    color: var(--off-white);
    box-shadow: var(--light-shadow) 2px 2px 4px;
}

.about-header:hover {
    background-color: rgba(3, 194, 3, 0.698);
}

.about-hidden {
    font-size: 1.5rem;
    padding: 3px 0;
    visibility: hidden;
    opacity: 0%;   
}

.about-hidden.toggle-hidden {
    visibility: visible;
    animation-name: about-list;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
}

.about-list-avg {
    
    margin: 5px;
}

.about-list-awesome {
    margin: 2px;
}

.about-me__subheader {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: .25rem 1rem;
}

.about_text-box {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .2rem .4rem;
}

.content_box *{
    list-style-image: none;
    list-style: none;
}

.content_box {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: var(--light-shadow) 2px 2px 3px 3px;
    margin: .5rem .5rem;
    padding: 1.25rem 0;
}

/* Animations */
@keyframes about-list {
    0%   {opacity: 0%;}
    15%  {opacity: 10%;}
    25%  {opacity: 20%;}
    45%  {opacity: 50%;}
    70%  {opacity: 75%;}
    100% {opacity: 100%;}
}