.button-msg-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding-left: .45rem;
}

.contact-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: auto;
}

.contact-icons {
    padding:.25rem;
    margin: .25rem .25rem 0;
    display: flex;
    flex-wrap: wrap;
}

.contact-item__email-hidden-tooltip {
    position: relative;
    /* offset-anchor: 5; */
    margin: 0 .25rem;
    /* display: block; */
    color: red;  
    visibility: hidden;
}

.unhidden-tooltip {
    visibility: visible;
}

.contact-subtitle {
    text-align: center;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: normal;
}

.copy-button {
    text-align: center;
    cursor: pointer;
    padding: .5rem 10px;
    margin: 1px .25rem;
    border-radius: 20% / 55%;
    border: 1px outset rgba(185, 187, 216, 0.698);
    background-color: rgb(82, 141, 82);
    color: var(--off-white);
    box-shadow: var(--light-shadow) 1px 1px 5px;
}

.copy-button.inactive {
    background-color: rgb(137, 155, 137);
}

.copy-button:hover {
    background-color: rgba(3, 194, 3, 0.698);
}

.copy-button:active {
    box-shadow: none;
    transform: translate(1px, 2px);
}

.link-item {
    margin: .1rem .15rem;
}

.link-img {
    height: 4rem;
    width: 4rem;
    scale: 50%;
    transition: .6s;
}

.link-img:hover {
    transform: scale(1.5);
    transition-duration: .2s;
}