.experience_arrow {
    padding: .5rem;
    width: 2rem;
    height: 2rem;
}

.experience_card {
    display: grid;
    grid-template-columns: .15fr 10fr;
    grid-template-rows: 5rem;
    margin: .25rem 1rem .25rem;
    
}

.experience_card-wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
}

.experience_header {
    text-align: center;
}

.experience_tab {
    background-color: rgba(27, 95, 104, 0.9);
    color: var(--off-white);
    padding: .5rem .5rem;
    margin: 0 .05rem;
    
}

.experience_tab:hover {
    background-color: rgba(13, 56, 61, 0.9);
    color: rgba(72, 154, 165, 0.9);
    cursor: pointer;
    
}

.experience_tabs {
    display: flex;
    align-items: flex-start;
    z-index: -10;
}

.experience_text {
    padding: 1rem .65rem;
    background-color: var(--subheader-subheader-color);
    box-shadow: var(--subheader-subheader-color-shadow) 2px 2px 3px 4px;
    color: var(--off-white)
}