/* Parent wrapper for all content in home 'page' */
.home_content__wrapper {
    min-width: 90%;
    margin: 0 auto;
    padding: .1rem .2rem;
}

.home_content__welcome {
    background-color: var(--bright-white-2);
    /* background-color: var(--light-gray); */
    box-shadow: var(--card-shadow);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
}

.home_content__welcome_heading {
    align-self: center;
    /* flex-grow: 1; */
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'News Cycle', sans-serif;
    text-align: center;
}

.home_content__welcome_body {
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: .15rem .25rem;
    line-height: 1.1rem;
    
    
}
.home_content__welcome_body code {
    /* background-color: slategray; */
    color: darkgoldenrod;
    display: block;
    font-size: .85em;
    font-weight: 500;
    min-width: 90%;
    margin: 0 auto;
    padding: .75rem 0 0;
    word-spacing: 2vw;
}


/* .home_content__portrait_wrapper {
    filter: grayscale(80%);
} */

.home_content__img_wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
}

.home_content__portrait {
    filter: grayscale(50%);
    float: none;
    /* width: 200px;
    height: 200px; */
    object-fit: cover;
    /* max-width: auto; */
    height: 200px;
    width: 200px;
    /* margin: .5rem .5rem 0 .5rem; */
    margin: 1.25rem;
    border: 1px solid rgba(13, 43, 85, 0.773);
    
    border-radius: 9999px;
}

@media screen and (max-width: 700px) {
    .home_content__wrapper {
        min-width: 95%;
    }
    .home_content__portrait {
        margin: .5rem auto;
    }
    .home_content__welcome {
        flex-direction: column;
    }
    
}