@import url('https://fonts.googleapis.com/css?family=News+Cycle|PT+Mono|Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

/*  font-family: 'News Cycle', sans-serif;
    font-family: 'Pathway Gothic One', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'PT Mono', monospace; */

.project-table {
    color: black;
    background-color: var(--table-color-1);
    border-collapse: collapse;
    border: 1px solid var(--off-white);
    
    font-family: 'Noto Sans', sans-serif;
    /* padding: .5rem .5rem; */
    margin: .15rem;
}

@media screen and (max-width: 400px) {
    .project-table {
        max-width: 100%;
    }
}

.project-table a:link {
    color: blue;
    font-weight: bold;
    /* text-decoration: none; */
}

.project-table a:visited {
    color: rgb(57, 43, 134);
    font-weight: bold;
}

.project-table tr:nth-child(even) {
    background-color: var(--table-color-2);
}

.project-table thead {
    color: var(--off-white);
    background-color: var(--sexy-orange);
    font-size: calc(15px + .4vw);
}

.project-table__caption {
    text-align: center;
    padding: 1rem 2rem;
    margin: 0 auto 1rem;
    /* background-color: var(--off-white-2); */
    box-shadow: var(--subheader-subheader-color-shadow) 2px 2px 3px 4px;
    color: var(--dark-gray-opaque);
    font-size: 1.25rem;
    font-family: 'Rum Raisin', sans-serif;
}

.project-table__row {
    margin: .15rem 0;
}

.project-table__body th {
    font-size: calc(12px + .4vw);
}

.project-table__row td:nth-child(1) {
    font-size: calc(13px + .4vw);
    text-align: left;
}
.project-table__row td:nth-child(2) {
    font-size: calc(12px + .4vw);
}

.project-table__row td:nth-child(3) {
    font-size: calc(11px + .5vw);
    font-family: 'PT Mono', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.project-table__row > * {
    padding: .2rem .2rem;
}

.project-table__row-link {
    text-align: left;
    font-size: calc(12px + .5vw);

}

.project-table__row-link_icon {
    /* height: 1rem; */
    height: calc(.5rem + .5vw);
    width: calc(.5rem + .5vw);
    /* width: 1rem; */
    /* float: right; */
    color: var(--subheader-subheader-color);
    padding: .1rem .2rem;
}

.icon-credit {
    font-size: calc(9px + .5vw);
    color: rgba(36, 30, 121, 0.5);
    margin: 0 auto;
    text-align: center;
}

/* .project-table__body {

}

.project-table__footer {

}

.project-table__header {

} */
