/* Main - navbar styling */
.main_navbar {
    background-color: var(--bright-white-2);
    border-bottom: 1px outset var(--box-shadow);
    display: flex;
    flex-direction: row;
    flex-grow: 1 2;
    justify-content: space-between;
    min-width: 95%;
    max-width: 100vw;
    margin: 0;
    padding: .05rem 0.1rem;
    position: sticky;
    top: 0px;
    z-index: 30;
    
}

/* Title & Subtitle container */
.main_navbar__title_box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 3px 0;
}

.main_navbar__title {
    /* font-size: 1.25rem; */
    font-size: calc(1rem + 1vmin);
    font-family: 'Bruno Ace SC', sans-serif;
    letter-spacing: 0.05em;
}

.main_navbar__subtitle {
    color: darkred;
    /* font-size: .75rem; */
    font-size: calc(.40rem + 1vmin);
    font-family: 'Sarpanch', sans-serif;
    font-variant: small-caps;
    font-weight: 500;
    letter-spacing: 0.1em;
    padding-left: .15rem;
    text-wrap: nowrap; 
    text-align: left;
    word-wrap: normal;
}

.main_navbar__navmenu {
    vertical-align: middle;
    /* flex-grow: 2; */
}

.main_navbar__navmenu .nav_icon {
    display: none;
}

.main_navbar__navlink {
    background: none;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, .0);
    border-bottom-width: 0%;
    color: var(--dark-gray);
    font-family: 'Rum Raisin', sans-serif;;
    /* font-family: 'PT Mono', monospace; */
    font-size:calc(14px + .5vw);
    font-weight: lighter;
    letter-spacing: 2px;
    outline: none;
    padding: 2px 10px;
    transition-property: border-bottom, width;
    transition-duration: .6s;
}

.main_navbar__navlink.navbar_button__active {
    color: rgba(170, 162, 10, 0.8);
    border-bottom: 2px groove rgba(52, 73, 120, 0.4);
    
}

.main_navbar__navlink:hover {
    cursor: pointer;
    border-bottom: 2px solid rgba(86, 81, 77, 0.7);
    color: var(--subheader-subheader-color);
}

.main_navbar__navmenu ul {
    display: flex;
    align-self: center;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
    
}

@media screen and (max-width:550px) {
    .main_navbar {
        flex-grow: unset;
        flex-direction: column;
        align-items: center;
        /* flex-wrap: wrap; */
    }
    .main_navbar__title,
    .main_navbar__subtitle {
        text-align: center;
    }
    .main_navbar__navlink {
        display: none;
    }
    .main_navbar__navmenu .nav_icon {
        color: var(--header-color);
        position: absolute;
        display: block;
        float: right;
        margin: .25rem .35rem .1rem 0;
        padding: .15rem;
        font-size: 1.5rem;
    }
    .main_navbar__navmenu .nav_icon:hover {
        cursor: pointer;
        box-shadow: 2px 2px 1px 2px var(--box-shadow-2);
    }
    /* Nav menu - expanded (responsive) */
    .main_navbar__navmenu.responsive {
        /* padding-right: 1.25rem; */
        min-width: 90%;
        margin: 0 auto;
        z-index: 2;
        & ul {
            display: flex;
            gap: 0.25em;
            flex-direction: column;
            border-radius: 8px;
            background-color: rgba(76, 197, 88, 0.146);
            box-shadow: 2px 4px var(--box-shadow-2);
            margin-right: 0.25rem;
            padding-left: 0;
            padding-right: 0;
            padding-top: .15rem;
            position: relative;
            min-width: 100%;
            /* right: 10px; */
        }
        
        
    }
    .main_navbar__navmenu.responsive .main_navbar__navlink:hover {
        background-color: rgba(76,104,197,0.35);
    }
    .main_navbar__navmenu.responsive .nav_icon {
        border: 1px groove rgba(19, 37, 139, 0.452);
        border-radius: 1.5rem;
        position: absolute;
        background-color: rgba(250, 250, 255, 0.4);
        right: 0;
        top: 0;
        z-index: 5;
    }
    .main_navbar__navmenu.responsive .main_navbar__navlink {
        float: none;
        display: block;
        text-align: center;
        padding: 3px .6rem;
        font-size: 1.1rem;
        /* padding-left: .55rem;
        padding-right: .55rem; */
    }
    
}

/* Navbar Dropdown styling */
.header__navbar-dropdown, 
.header__navbar-button,
.header__navbar-dropdown>ul {
    border-radius: .25rem / .25rem;
}

.header__navbar-dropdown {
    position: relative;
    display: inline-block;
    margin: .5rem 1rem;
}

.header__navbar-dropdown ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    top: 2rem;
    right: 0px;
    width: 10rem;
    background-color: white;
    font-weight: bold;
    position: absolute;

    box-shadow: 0px .4rem .8rem 0px var(--box-shadow);
    z-index: 1;
}

.header__navbar-dropdown ul li a {
    color: black;
    text-decoration: none;
}

.header__navbar-dropdown li {
    padding: .4rem .8rem;
    border-bottom: 1px solid var(--off-white);
}

.header__navbar-dropdown ul li:last-child {
    border-bottom: none;
}

.header__navbar-dropdown ul li:hover {
    background-color: var(--off-white);
    color: white;
}

.header__navbar-button:hover {
    background-color: var(--button-color-hover);
}

.header__navbar-button{
    width:178px;
    height:18px;
    background-color: var(--button-color);
    padding:12px;
    font-weight:bold;
    color:white;
}

.header__navbar-button:before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: white transparent transparent transparent;
    right:6px;
    top:18px;
}
/* End Navbar Dropdown styling */

.main__content {
    width: 95%;
    margin: 0 auto;
    padding-top: .25rem;
}

.main__content__about-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr auto;
    gap: 3rem;
    grid-auto-flow: row;
    background-color: var(--off-white);
    box-shadow: var(--light-shadow) 3px 4px 2px 2px;
    margin: 0 0 .5rem 0;
}

.main__content__about-box-list {
    list-style: none;
    padding: .5rem .2rem;
}

.main__content__about-box-list li:nth-child(n+1):nth-last-child(n+1) {
    text-align: center;
    padding: 1rem 2rem;
}

.main__content__about-box-list__subtitle {
    text-align: center;
}

/* Section divider (with text) */
.main_content__divider_title {
    align-items: center;
    color: rgb(74, 84, 94);
    display: flex;
    font-size: 1.25rem;
    font-family: 'Rum Raisin', sans-serif;
    font-weight:normal;
    gap: 1rem;
    letter-spacing: .4vw;
    opacity: 0.8;
    text-align: center;
}

.main_content__divider_title::before, 
.main_content__divider_title::after {
    flex: 1;
    content: '';
    padding: 2px;
    background-color: var(--dark-gray);
    opacity: .4;
    margin: 2.25rem 1rem;
}

/* Section divider -- section header */
.main_content__divider_title.section-header {
    font-weight: bold;
    font-size: 1.45rem;
    opacity: 0.9;

}

.main_content__divider_title.section-header::before, 
.main_content__divider_title.section-header::after {
    opacity: 0.1;
    margin: 2.25rem 1.25rem;
}

.main__content-title {
    text-align: center;
    padding: .25rem 0;
    /* color: var(--off-white); */
    text-shadow: rgba(19, 37, 139, 0.452) -5px -5px 1rem;
}

/* Navbar */

.navbar_button {
    background: none;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, .0);
    border-bottom-width: 0%;
    color: var(--bright-white2);
    font-family:  'PT Mono', monospace;
    font-size: 16px;
    font-weight: lighter;
    outline: none;
    padding: 2px 5px;
    transition-property: border-bottom, width;
    transition-duration: .6s;
}

.navbar_button:hover {
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, .8);
    color: var(--bright-white);
}

.navbar_button.navbar_button__active {
    color: gold;
    border-bottom: 2px solid gold;
}

.navbar_list {
    display: flex;
    align-self: center;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar_list-item {
    padding: 0 5px;
    
}

