.header {
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
    background-color: var(--header-color);
    margin: .5rem 0 .4rem .8rem;
    box-shadow: var(--header-color-shadow) 2px 2px 4px 6px;
}

.header__image img{
    /* outline: .25rem solid blue; */
    border-radius: 1rem / 1.5rem;
    padding: .1rem .2rem;
    margin: 0 1rem;
    box-shadow: rgba(10, 10, 10, .7) 3px 3px 5px;
}

.header__navbar {
    display: flex;
    align-content: center;
}

.header__title {
    font-family: 'Pathway Gothic One', sans-serif;
    color: var(--off-white);
    justify-content: center;
    padding: 0 .5rem 0 .5rem;
    text-align: center;
}

/* Navbar Dropdown styling */

.header__navbar-dropdown, 
.header__navbar-button,
.header__navbar-dropdown>ul {
    border-radius: .25rem / .25rem;
}

.header__navbar-dropdown {
    position: relative;
    display: inline-block;
    margin: .5rem 1rem;
    
}

.header__navbar-dropdown ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    top: 2rem;
    right: 0px;
    width: 10rem;
    background-color: white;
    font-weight: bold;
    position: absolute;

    box-shadow: 0px .4rem .8rem 0px var(--box-shadow);
    z-index: 1;
}

.header__navbar-dropdown ul li a {
    color: black;
    text-decoration: none;
}

.header__navbar-dropdown li {
    padding: .4rem .8rem;
    border-bottom: 1px solid var(--off-white);
}

.header__navbar-dropdown ul li:last-child {
    border-bottom: none;
}

.header__navbar-dropdown ul li:hover {
    background-color: var(--off-white);
    color: white;
}

.header__navbar-button:hover {
    background-color: var(--button-color-hover);
}

.header__navbar-button{
    width:178px;
    height:18px;
    background-color: var(--button-color);
    padding:12px;
    font-weight:bold;
    color:white;
}

.header__navbar-button:before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: white transparent transparent transparent;
    right:6px;
    top:18px;
}
/* End Navbar Dropdown styling */

.main__content {
    width: 95%;
    margin: 0 auto;
    padding-top: .5rem;
}

.main__content__about-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr auto;
    gap: 3rem;
    grid-auto-flow: row;
    background-color: var(--off-white);
    box-shadow: var(--light-shadow) 3px 4px 2px 2px;
    margin: 0 0 .5rem 0;
}

.main__content__about-box-list {
    list-style: none;
    padding: .5rem .2rem;
}

.main__content__about-box-list li:nth-child(n+1):nth-last-child(n+1) {
    text-align: center;
    padding: 1rem 2rem;
}

.main__content__about-box-list__subtitle {
    text-align: center;
}

.main__content-title {
    text-align: center;
    padding: .25rem 0;
    color: var(--off-white);
    text-shadow: var(--header-color-shadow) -5px -5px 1rem;
}

/* Navbar */

.navbar_button {
    background: none;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, .0);
    border-bottom-width: 0%;
    color: var(--off-white);
    font-family:  'PT Mono', monospace;
    font-size: 16px;
    font-weight: lighter;
    outline: none;
    padding: 2px 5px;
    transition-property: border-bottom, width;
    transition-duration: .6s;
}

.navbar_button:hover {
    cursor: pointer;
    border-bottom: 2px solid rgba(255, 255, 255, .8);
    color: white;
}

.navbar_button.navbar_button__active {
    color: gold;
    border-bottom: 2px solid gold;
}

.navbar_list {
    display: flex;
    align-self: center;
    list-style: none;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar_list-item {
    padding: 0 5px;
    
}

