.wrapper {
    width: 100%;
    margin: .5rem 0;
    /* background-color: rgba(152, 153, 193, 0.366); */
}

.tabs {
    width: 95%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 0 auto;
    line-height: 1.25em;
    
}

.tab {
    background-color: lightgray;
    border: 1px inset rgba(133,133,133,0.5);
    color: rgba(93, 100, 131, 0.683);
    cursor: pointer;
    width: 95%;
    text-align: center;
}
.tab:hover {
    color: rgba(119, 80, 8, 0.66);
    background-color: rgb(194, 162, 162);
}
.tab.active-tab {
    font-weight: bold;
    background-color: rgb(149, 184, 154);
    color: rgb(8, 53, 53);
    border: 2px outset rgba(133,133,133,0.8);
}

.story-section {
    display: none;
    /* flex-direction: column; */
}

.story-section.selected {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.story-section__title {
    text-align: center;
    padding-inline-end: .5rem;
    margin: .5rem 0 0;
}

.story-section__desc {
    width: 95%;
    padding: 0 .25rem;
    display: block;
}

.desc-heading {
    vertical-align: middle;
    font-weight: bold;
}

.desc-body {
    color: rgba(39, 32, 32, 0.799);
    font-size: .8rem;
    padding: 0 15px 10px;
    border-bottom: 2px dotted rgba(55,55,45,.8);
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

/* .tools {

} */